
<div class="container">
    <div class="row">
        <form id="formCliente">
            <input type="hidden" id="ClienteID" value=0 />
            <div class="form-group col-md-6">
                <label for="Nome" class="control-label">Nome</label>
                <input type="text" id="Nome" name="Nome" />
            </div>

            <div class="form-group col-md-6">
                <label for="SobreNome" class="control-label">Sobrenome</label>
                <input type="text" id="SobreNome" name="SobreNome" />
            </div>

            <div class="form-group col-md-4">
                <label for="Logradouro" class="control-label">Logradouro</label>
                <input type="text" id="Logradouro" name="Logradouro" />
            </div>

            <div class="form-group col-md-2">
                <label for="Numero" class="control-label">Numero</label>
                <input type="text" id="Numero" name="Numero" />
            </div>

            <div class="form-group col-md-3">
                <label for="Bairro" class="control-label">Bairro</label>
                <input type="text" id="Bairro" name="Bairro" />
            </div>

            <div class="form-group col-md-6">
                <label for="Cidade" class="control-label">Cidade</label>
                <input type="text" id="Cidade" name="Cidade" />
            </div>

            <div class="form-group col-md-3">
                <label for="Estado" class="control-label">Estado</label>
                <input type="text" id="Estado" name="Estado" />
            </div>
        </form>
    </div>

</div>
